In [12]:
pip install nltk

Requirement already satisfied: nltk in c:\users\vedan\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\vedan\appdata\roaming\python\python311\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\vedan\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\vedan\appdata\roaming\python\python311\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\vedan\appdata\roaming\python\python311\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\vedan\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install scikit-learn # Helps in Classification

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#'

In [14]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity # To check two movies are similar or not

In [15]:
netflix_df = pd.read_csv("./netflixData.csv")
print(netflix_df.head())

                                Show Id                          Title  \
0  cc1b6ed9-cf9e-4057-8303-34577fb54477                       (Un)Well
1  e2ef4e91-fb25-42ab-b485-be8e3b23dedb                         #Alive
2  b01b73b7-81f6-47a7-86d8-acb63080d525  #AnneFrank - Parallel Stories
3  b6611af0-f53c-4a08-9ffa-9716dc57eb9c                       #blackAF
4  7f2d4170-bab8-4d75-adc2-197f7124c070               #cats_the_mewvie

                                         Description  \
0  This docuseries takes a deep dive into the luc...
1  As a grisly virus rampages a city, a lone man ...
2  Through her diary, Anne Frank's story is retol...
3  Kenya Barris and his family navigate relations...
4  This pawesome documentary explores how our fel...

                      Director  \
0                          NaN
1                       Cho Il
2  Sabina Fedeli, Anna Migotto
3                          NaN
4             Michael Margolis

                                           Genres  \
0                                      Reality TV
1  Horror Movies, International Movies, Thrillers
2             Documentaries, International Movies
3                                     TV Comedies
4             Documentaries, International Movies

                                                Cast Production Country  \
0                                                NaN      United States
1                           Yoo Ah-in, Park Shin-hye        South Korea
2                        Helen Mirren, Gengher Gatti              Italy
3  Kenya Barris, Rashida Jones, Iman Benson, Genn...      United States
4                                                NaN             Canada

   Release Date Rating  Duration Imdb Score Content Type         Date Added
0        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
1        2020.0  TV-MA    99 min     6.2/10        Movie  September 8, 2020
2        2019.0  TV-14    95 min     6.4/10        Movie       July 1, 2020
3        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
4        2020.0  TV-14    90 min     5.1/10        Movie   February 5, 2020

In [16]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5967 non-null   object
 1   Title               5967 non-null   object
 2   Description         5967 non-null   object
 3   Director            3903 non-null   object
 4   Genres              5967 non-null   object
 5   Cast                5437 non-null   object
 6   Production Country  5408 non-null   object
 7   Release Date        5964 non-null   float64
 8   Rating              5963 non-null   object
 9   Duration            5964 non-null   object
 10  Imdb Score          5359 non-null   object
 11  Content Type        5967 non-null   object
 12  Date Added          4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.2+ KB

In [17]:
print(netflix_df.isnull())

      Show Id  Title  Description  Director  Genres   Cast  \
0       False  False        False      True   False   True
1       False  False        False     False   False  False
2       False  False        False     False   False  False
3       False  False        False      True   False  False
4       False  False        False     False   False   True
...       ...    ...          ...       ...     ...    ...
5962    False  False        False     False   False  False
5963    False  False        False      True   False  False
5964    False  False        False      True   False  False
5965    False  False        False     False   False  False
5966    False  False        False     False   False  False

      Production Country  Release Date  Rating  Duration  Imdb Score  \
0                  False         False   False     False       False
1                  False         False   False     False       False
2                  False         False   False     False       False
3                  False         False   False     False       False
4                  False         False   False     False       False
...                  ...           ...     ...       ...         ...
5962               False         False   False     False       False
5963                True         False   False     False        True
5964                True         False   False     False        True
5965               False         False   False     False       False
5966                True         False   False     False       False

      Content Type  Date Added
0            False        True
1            False       False
2            False       False
3            False        True
4            False       False
...            ...         ...
5962         False       False
5963         False        True
5964         False        True
5965         False       False
5966         False       False

[5967 rows x 13 columns]

In [18]:
print(netflix_df.isnull().sum())

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [19]:
required_nf_df = netflix_df[["Title", "Description", "Content Type", "Genres"]]
required_nf_df.head()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"

In [20]:
# Dropping the columns with Null Values
required_nf_df.dropna()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"
...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Movie,"Comedies, Dramas, International Movies"
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,TV Show,"International TV Shows, TV Dramas"
5964,海的儿子,"Two brothers start a new life in Singapore, wh...",TV Show,"International TV Shows, TV Dramas"
5965,반드시 잡는다,After people in his town start turning up dead...,Movie,"Dramas, International Movies, Thrillers"
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Movie,Children & Family Movies

In [21]:
required_nf_df.count()

Title           5967
Description     5967
Content Type    5967
Genres          5967
dtype: int64

In [22]:
# Cleaning the Data
import nltk
nltk.download('stopwords')
stemmer = nltk.SnowballStemmer("english") # Coverting the long words into the Root word.

[nltk_data] Error loading stopwords: <urlopen error [WinError 10061]
[nltk_data]     No connection could be made because the target machine
[nltk_data]     actively refused it>

In [24]:
from nltk.corpus import stopwords
import string
stopword = set(stopwords.words('english'))

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - 'C:\\Users\\vedan/nltk_data'
    - 'c:\\Users\\vedan\\anaconda3\\nltk_data'
    - 'c:\\Users\\vedan\\anaconda3\\share\\nltk_data'
    - 'c:\\Users\\vedan\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\vedan\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [ ]:
import re # Regular Expression

def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text

In [ ]:
required_nf_df['Title'] = required_nf_df['Title'].apply(clean)

<ipython-input-20-21c0b3ed5d0d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_nf_df['Title'] = required_nf_df['Title'].apply(clean)

In [ ]:
print(required_nf_df['Title'])

0                           unwel
1                            aliv
2       annefrank  parallel stori
3                         blackaf
4                    catsthemewvi
                  ...
5962                    الف مبروك
5963                 دفعة القاهرة
5964                         海的儿子
5965                      반드시 잡는다
5966           최강전사 미니특공대  영웅의 탄생
Name: Title, Length: 5967, dtype: object

In [ ]:
genreList = required_nf_df['Genres'].tolist()
tfidf = text.TfidfVectorizer(stop_words = "english")
tfidf_matrix = tfidf.fit_transform(genreList)
similarity = cosine_similarity(tfidf_matrix) # We find the Cosine angle between the words and if the angle comes out to be 0 degrees then the words are similar

In [ ]:
indices = pd.Series(required_nf_df.index, index= required_nf_df["Title"]).drop_duplicates()

In [ ]:
# Algorithm
def netflix_recommendation(title, similarity=similarity):
  index = indices[title]
  similarity_score = list(enumerate(similarity[index]))
  similarity_score = similarity_score[0:10]
  movie_indices=[i[0] for i in similarity_score]
  return required_nf_df['Title'].iloc[movie_indices]

In [ ]:
print(netflix_recommendation('fitoor'))

0                        unwel
1                         aliv
2    annefrank  parallel stori
3                      blackaf
4                 catsthemewvi
5               friendbutmarri
6              friendbutmarri
7                  realityhigh
8
9                        selfi
Name: Title, dtype: object